<div class="container">
<nav class="navbar navbar-default navbar-fixed-top">
   
            
                 
                     
                        
                <ul class="nav navbar-nav">
                   <br/>
                    
                    <div class="btn-group btn-breadcrumb" style="margin-left: 90px">
                        <a href="#" class="btn btn-info btn-md"><i class="glyphicon glyphicon-home"></i></a>
                        <a href="#" class="btn btn-info btn-md" ng-click="redirect()">Workforce</a>
                        <a href="#" class="btn btn-info btn-md" ng-click="dashboard()">Dashboard</a>
                        <a href="#" class="btn btn-info btn-md"  ng-click="timesheet()">Timesheets</a>
                        </div>
                   <a href="#" ng-click="logout()"><img src="img/logout-512.png" style="height: 40px;width: 40px;margin-left: 864px;"></a> 
                     
               
                    
                </ul>
            
                         
        
        </nav>   </div>
